<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Express Sample Title</title>
	</head>
	<body>
		<h1>H1 tag here</h1>
		<ul data-sample='ul-list'>
			<li class='c'>list1</li>
			<li>list2</li>
			<li>list3</li>
		</ul>
		<a href='/'>link to top</a>
		<form action="/form" method="POST">
			<input type='text' value='default' name='text'/>
			<textarea name='textarea'></textarea>
			<label><input type='checkbox' name='checkbox'>apple</label>
			<div>
				<label><input type='radio' name='fruit'>apple</label>
				<label><input type='radio' name='fruit'>orange</label>
				<label><input type='radio' name='fruit'>lemon</label>
			</div>
			<select name='select'>
				<option value='select1'>a</option>
				<option value='select2'>a</option>
				<option value='select3'>a</option>
			</select>
		</form>
		<script>
			var myVariable = 120;
		</script>
	</body>
</html>
